<form [formGroup]="myForm" (ngSubmit)="onSubmit()" class="container mt-4">
  <div class="row align-items-end">
    <!-- Name Input -->
    <div class="col-md-6 mb-3">
      <label for="name">Name:</label>
      <input
        type="text"
        id="name"
        formControlName="name"
        class="form-control"
        required
      />
    </div>

    <!-- Link Transfers Checkbox -->
    <div class="col-md-6 mb-3 form-check ml-2">
      <input
        class="form-check-input"
        type="checkbox"
        id="check1"
        name="option1"
        value="something"
        checked
      />
      <label class="form-check-label" for="check1">Linked</label>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 mb-3">
      <label for="comments">Comments:</label>
      <input
        type="textArea"
        id="comments"
        formControlName="comments"
        class="form-control"
      />
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 mb-3">
      <label for="outputTextarea">Condition:</label>
      <textarea
        id="outputTextarea"
        class="form-control"
        formControlName="condition"
        rows="5"
      ></textarea>
    </div>
  </div>

  <div class="row">
    <!-- Arguments Select -->
    <div class="col-md-4 mb-3">
      <label for="arguments">Arguments:</label>
      <select
        id="arguments"
        formControlName="arguments"
        class="form-select"
        (change)="onArgumentChange()"
        data-live-search="true"
      >
        <option *ngFor="let argument of argumentNames" [value]="argument">
          {{ argument }}
        </option>
      </select>
    </div>

    <!-- Operator Select -->
    <div class="col-md-4 mb-3">
      <label for="operators">Operator:</label>
      <select
        id="operators"
        formControlName="operators"
        class="form-select"
        data-live-search="true"
      >
        <option *ngFor="let operator of operators" [value]="operator">
          {{ operator }}
        </option>
      </select>
    </div>

    <div class="col-md-4 mb-3">
      <label for="value">Value:</label>
      <input
        type="text"
        id="value"
        formControlName="value"
        class="form-control"
      />
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 mb-3">
      <!-- Adjusted the grid class here -->
      <button class="btn btn-secondary" (click)="addCondition()">Add</button>
      <button
        class="btn btn-secondary"
        style="margin-left: 8px"
        (click)="clearConditions()"
      >
        Clear
      </button>
    </div>
  </div>
  <div class="row"></div>
  <!-- Submit Button -->
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
