<!-- Bootstrap Toolbar -->
<nav
  class="navbar navbar-expand-lg navbar-light"
  style="background-color: rgb(112, 1, 156)"
>
  <div class="container">
    <span class="navbar-brand text-white">Manage CgateGroups</span>
    <div class="ml-auto">
      <a
        class="btn btn-light custom-button"
        routerLink="/manage-cgateGroups/create-cgateGroup"
      >
        <i class="bi bi-plus"></i> Create CgateGroup
      </a>
      <a
        class="btn btn-light custom-button"
        routerLink="/manage-cgateGroups/update-cgateGroup"
      >
        <i class="bi bi-pencil"></i> Update CgateGroup
      </a>
    </div>
  </div>
</nav>
