<div class="header-titre d-none d-lg-block custom-title">
  Gestionnaire de transferts - {{ pageTitle }}
</div>
<div class="header-titre-small d-lg-none">
  CTRF - Gestion de la cartographie des outils de transferts (serveur)
</div>

<nav
  class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top"
  style="height: 50px; margin-top: 25px"
>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#m_tg"
    aria-controls="m_tg"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand d-none d-lg-block" href="/ctrf"
    ><img
      alt="Logo"
      src="../../../../assets/csm_logo_mgen_groupe_vyv_84cdc361aa.png"
      style="margin-left: 10px"
  /></a>

  <div class="btn-group ml-auto">
    <div
      dropdown
      #createDropdown="bs-dropdown"
      [autoClose]="true"
      placement="bottom"
    >
      <button
        type="button"
        dropdownToggle
        class="btn btn-light dropdown-toggle custom-button"
        aria-controls="dropdown-create"
        id="button-create"
        style="margin-left: 20px"
      >
        <i class="fas fa-arrows-alt-h"></i> Gestion de Transferts
        <span class="caret"></span>
      </button>
      <ul
        id="dropdown-create"
        *dropdownMenu
        class="dropdown-menu"
        role="menu"
        aria-labelledby="button-create"
      >
        <li role="menuitem">
          <a class="dropdown-item">
            <i class="fa fa-clock"></i> Vue derniere heure(X)
          </a>
        </li>
        <li role="menuitem">
          <a class="dropdown-item">
            <i class="fa fa-clock"></i> Vue depuis minuit (X)
          </a>
        </li>
        <li role="menuitem">
          <a class="dropdown-item">
            <i class="fa fa-clock"></i> Vue de la veille(X)
          </a>
        </li>

        <li role="menuitem">
          <a class="dropdown-item">
            <i class="fa fa-clock"></i> Historique des transferts(X)
          </a>
        </li>
        <div class="dropdown-divider"></div>
        <li role="menuitem">
          <a class="dropdown-item">
            <i class="fa fa-clock"></i> Vue derniere heure(S)
          </a>
        </li>
        <li role="menuitem">
          <a class="dropdown-item">
            <i class="fa fa-clock"></i> Vue depuis minuit(S)
          </a>
        </li>
        <li role="menuitem">
          <a class="dropdown-item">
            <i class="fa fa-clock"></i> Vue de la veille(S)
          </a>
        </li>
        <li role="menuitem">
          <a class="dropdown-item">
            <i class="fa fa-clock"></i> Historique des transferts(S)
          </a>
        </li>
        <div class="dropdown-divider"></div>
        <li role="menuitem">
          <a class="dropdown-item">
            <i class="fa fa-star"></i> Mes elements favoris
          </a>
        </li>
        <li role="menuitem">
          <a class="dropdown-item">
            <i class="fa fa-right-left"></i> Recensement des flux
          </a>
        </li>
        <li role="menuitem">
          <a
            class="dropdown-item"
            routerLink="/home/info-partenaires"
            (click)="onLinkClick('Partenaires')"
          >
            <i class="fa fa-user-group"></i>
            Information partenaires
          </a>
        </li>
      </ul>
    </div>

    <div
      dropdown
      class="dropdown"
      #updateDropdown="bs-dropdown"
      [autoClose]="true"
      placement="bottom-right"
    >
      <button
        type="button"
        dropdownToggle
        class="btn btn-light dropdown-toggle custom-button"
        aria-controls="dropdown-create"
        id="button-create"
      >
        <i class="fa fa-address-book"></i> Annuaire
        <span class="caret"></span>
      </button>
      <ul
        id="dropdown-create"
        *dropdownMenu
        class="dropdown-menu"
        role="menu"
        aria-labelledby="button-create"
      >
        <li role="menuitem">
          <a
            class="dropdown-item"
            routerLink="/home/annuaire"
            (click)="onLinkClick('Annuaire')"
          >
            <i class="fa-solid fa-address-book"></i>
            Annuaire
          </a>
        </li>
        <div class="dropdown-divider"></div>
        <li role="menuitem">
          <a class="dropdown-item">
            <i class="fa fa-chalkboard-teacher"></i> Tableau de Bord
          </a>
        </li>
        <div class="dropdown-divider"></div>
        <li role="menuitem">
          <a class="dropdown-item">
            <i class="fa fa-location-pin"></i> Partenaires
          </a>
        </li>
        <li role="menuitem">
          <a class="dropdown-item"> <i class="fa fa-user"></i> Contacts </a>
        </li>
        <li role="menuitem">
          <a class="dropdown-item">
            <i class="fa fa-tag"></i> Type de Contact
          </a>
        </li>
        <li role="menuitem">
          <a class="dropdown-item">
            <i class="fa fa-tags"></i> Type de Partenaire
          </a>
        </li>
        <div class="dropdown-divider"></div>
        <li role="menuitem">
          <a class="dropdown-item">
            <i class="fa fa-bullseye"></i> Type de Société
          </a>
        </li>
        <li role="menuitem">
          <a class="dropdown-item"> <i class="fa fa-flag"></i> Société Mère </a>
        </li>
        <div class="dropdown-divider"></div>
        <li role="menuitem">
          <a class="dropdown-item">
            <i class="fa-solid fa-left-right"></i> Liaison
          </a>
        </li>
        <li role="menuitem">
          <a class="dropdown-item">
            <i class="fa fa-shuffle"></i> Passerelle
          </a>
        </li>
        <li role="menuitem">
          <a class="dropdown-item">
            <i class="fa-solid fa-arrows-rotate"></i> Protocole
          </a>
        </li>
      </ul>
    </div>
    <div
      dropdown
      class="dropdown"
      #updateDropdown="bs-dropdown"
      [autoClose]="true"
      placement="bottom-right"
    >
      <button
        type="button"
        dropdownToggle
        class="btn btn-light dropdown-toggle custom-button"
        aria-controls="dropdown-create"
        id="button-create"
      >
        <i class="fa fa-envelope"></i> Communication
        <span class="caret"></span>
      </button>
      <ul
        id="dropdown-create"
        *dropdownMenu
        class="dropdown-menu"
        role="menu"
        aria-labelledby="button-create"
      >
        <li role="menuitem">
          <a class="dropdown-item">
            <i class="fa fa-feather-alt"></i> Créer un modèle
          </a>
        </li>
        <li role="menuitem">
          <a class="dropdown-item">
            <i class="fa fa-tty"></i> Modèles de communication
          </a>
        </li>
        <div class="dropdown-divider"></div>
        <li role="menuitem">
          <a class="dropdown-item">
            <i class="fa fa-edit"></i> Créer une communication
          </a>
        </li>

        <li role="menuitem">
          <a class="dropdown-item">
            <i class="fa fa-envelope-square"></i> Communications en attente
          </a>
        </li>
        <div class="dropdown-divider"></div>
        <li role="menuitem">
          <a class="dropdown-item">
            <i class="fa fa-mail-bulk"></i> Historique des communications
          </a>
        </li>
      </ul>
    </div>
    <div
      dropdown
      class="dropdown"
      #updateDropdown="bs-dropdown"
      [autoClose]="true"
      placement="bottom-right"
    >
      <button
        type="button"
        dropdownToggle
        class="btn btn-light dropdown-toggle custom-button"
        aria-controls="dropdown-create"
        id="button-create"
      >
        <i class="fa fa-cloud-sun-rain"></i> Météo des Flux
        <span class="caret"></span>
      </button>
      <ul
        id="dropdown-create"
        *dropdownMenu
        class="dropdown-menu"
        role="menu"
        aria-labelledby="button-create"
      >
        <li role="menuitem">
          <a class="dropdown-item">
            <i class="fa fa-cloud"></i> Météo des transferts (X)
          </a>
        </li>
        <li role="menuitem">
          <a class="dropdown-item">
            <i class="fa fa-cloud"></i> Météo des transferts (S)
          </a>
        </li>
      </ul>
    </div>

    <div
      dropdown
      class="dropdown"
      #updateDropdown="bs-dropdown"
      [autoClose]="true"
      placement="bottom-right"
    >
      <button
        type="button"
        dropdownToggle
        class="btn btn-light dropdown-toggle custom-button"
        aria-controls="dropdown-create"
        id="button-create"
      >
        <i class="bi bi-gear"></i> Administration
        <span class="caret"></span>
      </button>
      <ul
        id="dropdown-create"
        *dropdownMenu
        class="dropdown-menu"
        role="menu"
        aria-labelledby="button-create"
      >
        <li role="menuitem">
          <a class="dropdown-item"> <i class="fa fa-chess-king"></i> Modules</a>
        </li>
        <li role="menuitem">
          <a class="dropdown-item">
            <i class="fa fa-chess-pawn"></i> Arguments
          </a>
        </li>
        <li role="menuitem">
          <a class="dropdown-item">
            <i class="fa fa-sitemap"></i> Informations
          </a>
        </li>
        <div class="dropdown-divider"></div>

        <li role="menuitem">
          <a class="dropdown-item"> <i class="fa fa-desktop"></i> Serveurs</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="btn-group ms-auto">
    <div
      dropdown
      class="dropdown"
      #updateDropdown="bs-dropdown"
      [autoClose]="true"
      placement="bottom-right"
      style="margin-left: 12px"
    >
      <button
        type="button"
        dropdownToggle
        class="btn btn-light custom-button"
        aria-controls="dropdown-create"
        id="button-create"
      >
        <i class="fa fa-question-circle"></i> Aide
        <span class="caret"></span>
      </button>
      <ul
        id="dropdown-create"
        *dropdownMenu
        class="dropdown-menu"
        role="menu"
        aria-labelledby="button-create"
      ></ul>
    </div>
    <div
      dropdown
      class="dropdown"
      #updateDropdown="bs-dropdown"
      [autoClose]="true"
      placement="bottom-right"
      style="margin-right: 20px"
    >
      <button
        type="button"
        dropdownToggle
        class="btn btn-light custom-button"
        aria-controls="dropdown-create"
        id="button-create"
      >
        <i class="fa fa-power-off"></i> Déconnexion
        <span class="caret"></span>
      </button>
      <ul
        id="dropdown-create"
        *dropdownMenu
        class="dropdown-menu"
        role="menu"
        aria-labelledby="button-create"
      ></ul>
    </div>
  </div>
</nav>
