<mat-toolbar color="primary" class="toolbar-container">
  Manage Models

  <div class="spacer"></div>
  <div class="button-container">
    <button
      mat-raised-button
      class="custom-button"
      routerLink="/manage-models/create-model"
    >
      <mat-icon>add</mat-icon> Create Model
    </button>
    <button
      mat-raised-button
      class="custom-button"
      routerLink="/manage-models/update-model/modify"
    >
      <mat-icon>edit</mat-icon> Update Model
    </button>

    <button
      mat-raised-button
      aria-label="Logout"
      class="custom-button"
      routerLink="/manage-models/delete-model"
    >
      <mat-icon>delete</mat-icon>Delete Model
    </button>
  </div>
</mat-toolbar>
